

<%= form_with model: [ @diary, @diary.notes.build ], local: true do |form| %>
  
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>


